---
import Heading from "~/components/Heading.astro";
---

<section>
	<Heading idAttrib="what-to-wear">What to Wear:</Heading>
	<p>
		Wear clothing that will be comfortable for an afternoon outdoors in the
		park. Outfits are encouraged. On-theme inspirational ideas include:
	</p>

	<ul class="marker:text-stone-500">
		<li>Lilith’s Return</li>
		<li>Krakoa is for Lovers</li>
		<li>Milton’s Pandemonium</li>
	</ul>

	<Heading idAttrib="what-to-bring">What to Bring:</Heading>
	<ul class="marker:text-stone-500">
		<li>A beach towel or blanket (to sit on).</li>
		<li>
			Food (we will have birthday snacks to share, but you may want to bring
			some more for yourself!)
		</li>
	</ul>

	<Heading idAttrib="what-if-it-rains">What if it rains?</Heading>
	<p>
		We’re scheduling the festivities for Saturday, July 27th, but if the
		forecast calls for rain, we'll reschedule to Sunday (the 28th). If it looks
		like it will rain both days, we'll reschedule to another weekend.
	</p>

	<p class="italic text-2xl">Can&rsquo;t wait to see you!</p>
</section>
