---
const navList = [
	{
		name: "RSVP",
		href: "https://partiful.com/e/idmdacgIJYYNTIPBTXFT",
	},
	{
		name: "On Paradise",
		href: "#on-paradise",
	},
	{
		name: "When",
		href: "#when",
	},
	{
		name: "Where",
		href: "#where",
	},
];
---

<nav class="-mb-px flex flex-wrap gap-x-4 not-prose">
	{
		navList.map((item) => (
			<a
				href={item.href}
				class:list={[
					"inline-flex items-center align-middle transition-all whitespace-nowrap rounded-md px-2 py-1 text-sm font-medium focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-outer-space",
					item.href.startsWith("http")
						? "bg-outer-space shadow-sm text-white hover:bg-blue-200/40 border border-transparent hover:border-outer-space hover:text-outer-space"
						: "text-outer-space underline underline-offset-2 hover:text-cal-poly-green hover:underline-offset-4",
				]}
			>
				{item.name}
				{item.href.startsWith("http") && (
					<>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="size-4 inline-block ml-1"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
							/>
						</svg>
					</>
				)}
			</a>
		))
	}
</nav>
