---
import Heading from "~/components/Heading.astro";
---

<Heading idAttrib="on-paradise">On Paradise</Heading>
<div class="text-base">
	<p>
		The first time I read Dante’s <i>Divine Comedy</i>, I uncharacteristically
		jumped straight into the third book in the trilogy: Paradiso. I was twelve
		years old, browsing the box of withdrawn books at my library, an extremely
		worn and musty paperback caught my eye. I paid 25¢ for it.
	</p>
	<p>
		Having grown up with little exposure to mainstream Christianity - and
		especially the Catholic church - much of the layered iconography and
		references to contemporary Italy were lost on me. I later reread the series
		in college with an Italian professor, but for that first time, I was on my
		own, exploring a 700-year-old open world adventure with no map.
	</p>
	<p>
		I remember being struck by the intricate <em>geometry</em> of Dante’s cosmology:
		the celestial bodies traversing the skies in rhythms predictable and harmonious,
		the Empyrean portrayed as a trinity of interlocking Borromean rings. Over the
		course of one day, Dante travels through the nine spheres of Paradise. After
		his trip through the cosmic clockwork, Dante finds himself back on the very spot
		where he began his journey. A little older, a lot wiser.
	</p><p>
		Eden, Canaan, Jannah, Elysium… whether in theology, mythology, or fiction,
		the archetype of paradise is an image of satiety, but the promise is built
		on hope. Paradise is not bestowed; it is something that can be lost,
		something that can be <em>regained</em>. Or in more contemporary framing:
		Paradise is something we must build, for ourselves.
	</p><p>
		Paradise is a concept often explored in exile, and Dante was no exception.
		For him, paradise was eternally elusive. In 1301, he was expelled from his
		hometown of Florence. Leaving behind his wife and children, he spent the
		rest of his life in exile: itinerant, eternally wandering in search of a
		true home. During these years, he began to write, detailing every grievance
		he had with every individual he had ever met in Florence, in the Catholic
		church, or anywhere. This fourteenth-century burn book was later published
		in three parts as
		<i>Inferno</i>, <i>Purgatorio</i>, and <i>Paradiso</i>. The Divine Comedy.
	</p><p>
		The city of Florence formally apologized for Dante’s banishment recently,
		seven hundred years after his death. Dante, who died in exile and never
		returned to his hometown where his wife and children remained, would have
		loved to have had his sentence nullified. But had Dante never been exiled in
		the first place, the Divine Comedy would never have been written. Without
		this indignity, there would have been little need to write a three-volume
		magnum opus of revenge fantasy.
	</p><p>
		The stars may be in constant motion, but the night sky is remarkably stable,
		at least over a few hundred or thousand years. Even now, on a warm summer
		night, we can lie down, look at the sky, and see the same stars that were
		there 700 years ago. They trace out predictable orbits - paths we know are
		determined through the laws of gravitational attraction.
	</p><p>
		Dante did not know this. He was born centuries too early to know about the
		laws of gravity. So when he stopped one fateful night to sleep under the
		open sky, he could only wonder:
		<span class="italic font-serif">
			“What force could be so powerful as to move the stars through the
			heavens?”
		</span>
	</p>
</div>
