---
import Heading from "~/components/Heading.astro";
---

<Heading idAttrib="when">When:</Heading>
<p>
	Saturday, July 27th, from 12PM onwards.<br />
	<span class="text-base"
		>I&rsquo;ll be there all day, weather-permitting, so come when you wish!
		I&rsquo;ll share a live location pin with everyone who RSVPs so you can find
		us.</span
	>
</p>
