---
import Heading from "~/components/Heading.astro";
---

<Heading idAttrib="where">Where:</Heading>
<p>
    Central Park, Sheep Meadow (north side)<br />
    <span class="text-base">
        Exact spot: <a
            class="text-coyote hover:bg-coyote hover:text-beige transition-colors"
            href="https://maps.app.goo.gl/TEr3Hgt7ddZokUaJ9"
            >https://maps.app.goo.gl/TEr3Hgt7ddZokUaJ9</a
        >
    </span>
</p>

<div class="aspect-video overflow-hidden shadow-sm rounded">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3021.5184026309216!2d-73.974559!3d40.772616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDDCsDQ2JzIxLjQiTiA3M8KwNTgnMjguNCJX!5e0!3m2!1sen!2sus!4v1688652351495!5m2!1sen!2sus"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="h-full w-full"
    ></iframe>
</div>
